h3 {
    height: 24px;
}

.video-box {
    border-width: 7px;
    border-color: #9191914a;
    border-style: dashed;
    margin-bottom: 10px;
}

.video-div {
    display: flex;
    align-items: start;
}

.video-div > div:first-child {
    margin: 0 10px;
}

.btn-disabled {
    background-color: rgba(87, 87, 87, 0.29);
    display: inline-block;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 0;
}

.btn-red {
    background-color: #ff4949;
    display: inline-block;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 0;
}

.btn-blue {
    background-color: #67ccda;
    display: inline-block;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 0;
}

.btn-green {
    background-color: #baf5b1;
    display: inline-block;
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 0;
}

.btn-yellow {
    background-color: #faebd7;
    display: inline-block;
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 0;
}

.result {
    position: absolute;
    width: 500px;
    font-size: 30px;
    color: #FF4949C6;
    font-weight: bold;
}

#result {
    top: 80%;
}

#chunk-start {
    top: 120%;
}

#chunk-end {
    top: 160%;
}

input[name="video-name"] {
    border: 0;
    width: 400px;
    height: 30px;
    font-size: 20px;
    background-color: #9191914a;
}
