<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chunk file upload</title>

    <link th:href="@{/css/file.css}" rel="stylesheet" />
    <link th:href="@{/css/progress.css}" rel="stylesheet" />
</head>
<body>

<h1>파일 업로드</h1>
<section>
    <div>
        <input
                id="video-file"
                style="display:none;"
                type="file"
                name="file">
        <label for="video-name">파일명</label>
        <input
                id="video-name"
                type="text"
                name="video-name"
                disabled>
    </div>
    <div>
        <button
                class="btn-blue"
                onclick="set_file()">파일 선택
        </button>
        <button
                class="btn-yellow"
                onclick="send_video_chunks()">Chunk 업로드
        </button>
        <button
                class="btn-yellow"
                onclick="send_video_stream()">Stream 업로드
        </button>
    </div>
</section>

<hr>
<h1>업로드 진행도</h1>
<div id="result"></div>
<hr>

<h1>영상 목록(<code>/local-video</code>)</h1>
<section style="display: flex; align-items: start;" th:each="filename: ${filelist}">
    <div>
        <h3>normal</h3>
        <video
                th:src="@{/vod/{vod_name}(vod_name=${filename})}"
                width="360px"
                height="240px"
                autoplay
                muted
                controls>
        </video>
    </div>
    <div>
        <h3>chunk - 시작 속도가 더 빠르고, 중간에 다운로드 실패 시 다시 다운로드하는 기능을 추가할 수 있음.</h3>
        <video
                th:src="@{/vod/chunk/{vod_name}(vod_name=${filename})}"
                width="360px"
                height="240px"
                autoplay
                muted
                controls>
        </video>
    </div>
</section>

<section class="dimmed"></section>
<section class="loading">
    <div></div>
    <div></div>
    <div></div>
</section>

</body>
<script>
    /**
     * 크롬 브라우저에서 임의로 추가한 경로를 제거한다.
     *
     * @param filename 파일명
     * @returns {*} 경로가 제거된 파일명
     */
    function cleanup_chrome_fakepath(filename) {
        // C:\fakepath\filename
        // cleanup('C:\fakepath\') -> filename
        return filename.replace(/.*[/\\]/, '');
    }

    function set_file() {
        document.querySelector("#video-file").click();
    }

    document
        .querySelector("#video-file")
        .addEventListener("change", (event) => {
            console.log(event);
            console.log(event.target.files);
            console.log(event.target.value);
            document.querySelector("#video-name").value = cleanup_chrome_fakepath(event.target.value);
        });
</script>

<script type="text/javascript" th:src="@{/js/progress.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file-chunk.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file-stream.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file-multiply.js}"></script>

</html>
