<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo - File upload</title>

    <link th:href="@{/css/file.css}" rel="stylesheet"/>
    <link th:href="@{/css/progress.css}" rel="stylesheet"/>
</head>
<body>

<h1>파일 업로드</h1>
<section>
    <div>
        <input
                id="video-file"
                style="display:none;"
                type="file"
                name="file">
        <label for="video-name">파일명</label>
        <input
                id="video-name"
                type="text"
                name="video-name"
                disabled>
    </div>
    <div>
        <button
                class="btn-blue"
                onclick="set_file()">파일 선택
        </button>
        <button
                class="btn-green"
                onclick="send_file()">통짜 업로드
        </button>
        <button
                class="btn-yellow"
                onclick="send_file_chunks()">Chunk 업로드
        </button>
        <button
                class="btn-yellow"
                onclick="send_file_stream()">Stream 업로드
        </button>
        <button
                class="btn-yellow"
                onclick="send_file_multiply(20)">같은 파일을 여러개 업로드
        </button>
        <button
                class="btn-red"
                onclick="send_file_chunks_async()">비동기 Chunk 업로드
        </button>
        <button
                class="btn-red"
                onclick="send_file_server_s3_multipart()">화면-서버-S3
        </button>
        <button
                class="btn-disabled"
                onclick="send_file_server_s3_multipart_recursive()">화면-S3 (recursive)
        </button>
        <button
                class="btn-disabled"
                onclick="send_file_s3_multipart()">화면-S3
        </button>
    </div>
</section>

<hr>

<h1>영상 목록(<code>/local-video</code>)</h1>
<section class="video-box" th:each="filename: ${filelist}">
    <h2>[[${filename}]]</h2>
    <div class="video-div">
        <div>
            <h3>normal</h3>
            <!--<button th:onclick="|downloadFromUrl('@{/vod/{vod_name}(vod_name=${filename})}')|">-->
            <!--    download-->
            <!--</button>-->
            <a th:href="@{/vod/{vod_name}(vod_name=${filename})}" download>a download</a>
            <button th:onclick="downloadFromFilename([[${filename}]])">
                fetch download
            </button>
            <!--같은 host에서 다운로드하면 dev tool로 확인할 수 없음-->
            <!--<a th:href="@{'http://192.168.0.148:8080/vod/' + ${filename}}" target="_blank">download</a>-->
            <video
                    th:src="@{/vod/{vod_name}(vod_name=${filename})}"
                    width="360px"
                    height="240px"
                    autoplay
                    muted
                    controls>
            </video>
        </div>
        <div>
            <h3>chunk - 시작 속도가 더 빠르고, 중간에 다운로드 실패 시 다시 다운로드하는 기능을 추가할 수 있음.</h3>
            <video
                    th:src="@{/vod/chunk/{vod_name}(vod_name=${filename})}"
                    width="360px"
                    height="240px"
                    autoplay
                    muted
                    controls>
            </video>
        </div>
    </div>
</section>

<section class="dimmed"></section>
<section class="loading">
    <div></div>
    <div></div>
    <div></div>
    <section id="chunk-start" class="result"></section>
    <section id="chunk-end" class="result"></section>
    <section id="result" class="result"></section>
    <input type="hidden" id="current-progress" value="0"/>
</section>

</body>

<script>
    /**
     * 디버그용 alert를 띄울지 여부
     * @type {boolean} alert 여부
     */
    const debug_alert = false;

    /**
     * 크롬 브라우저에서 임의로 추가한 경로를 제거한다.
     *
     * @param filename 파일명
     * @returns {*} 경로가 제거된 파일명
     */
    function cleanup_chrome_fakepath(filename) {
        // C:\fakepath\filename
        // cleanup('C:\fakepath\') -> filename
        return filename.replace(/.*[/\\]/, '');
    }

    function set_file() {
        document.querySelector("#video-file").click();
    }

    document
        .querySelector("#video-file")
        .addEventListener("change", (event) => {
            // console.debug(event);
            // console.debug(event.target.files);
            // console.debug(event.target.value);
            document.querySelector("#video-name").value = cleanup_chrome_fakepath(event.target.value);
        });

    function downloadFromUrl(url) {
        download(url);
    }

    function downloadFromFilename(filename) {
        download('http://192.168.0.148:8080/vod/stream/' + filename);
    }

    function download(url) {
        fetch(url)
            .then(response => response.blob())
            .then(blob => {
                const downloadUrl = URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = downloadUrl;
                a.download = "test-filename.mp4";
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                URL.revokeObjectURL(downloadUrl);
            })
            .catch(e => console.error(e));
    }
</script>

<script type="text/javascript" th:src="@{/js/progress.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file-chunk.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file-stream.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file-multiply.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file-chunk-async.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file-sever-to-s3.js}"></script>
<script type="text/javascript" th:src="@{/js/upload-file-sever-to-s3-recursive.js}"></script>

<!--https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/#In_the_Browser-->
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1521.0.min.js"></script>
<script type="text/javascript" th:src="@{/js/upload-file-s3.js}"></script>

</html>
